mat-dialog-content {
  max-height: 400px; /* Adjust height as necessary */
  overflow: auto;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

.main-button {
  display: flex;
  justify-content: center;
}
